# Database credentials
DATABASE_USER=aley
DATABASE_PASSWORD=supersecretpassword
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=nest_db

# Api keys
COINGECKO_API_KEY='CG-T5525QBwPz8xPaw1EroD2P5G' # left for test purposes only

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App
PORT=3000